%% Tell emacs to use -*- erlang -*- mode for this file
{deps,
 [{parse_trans, "3.4.1"},
  {eunit_addons, "1.2.0"}
 ]}.
{profiles,
 %% Add the edown dependency (for generating markdown docs) when
 %% running with the edown profile ==> make it an optional dependency.
 [{edown, [{deps, [edown]},
           {edoc_opts, [{doclet, edown_doclet}]}]}]}.
