%% Tell emacs to use -*- erlang -*- mode for this file
{lib_dirs,["deps"]}.

{deps,
 [{parse_trans, ".*",
   {git, "git://github.com/esl/parse_trans.git", {tag, "2.8"}}},
  {edown, ".*",
   {git, "git://github.com/esl/edown.git", {tag, "0.3.1"}}},
  {eunit_addons, ".*",
   {git, "git://github.com/klajo/eunit_addons.git", "v0.1"}}
 ]}.
{edoc_opts, [{doclet, edown_doclet}]}.
